RewriteEngine On

# Accueil
RewriteRule ^$ 01-html/index.html [L]

# Si le fichier ou dossier demandé n'existe pas réellement à la racine...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...sers-le depuis 01-html à la place
RewriteRule ^(.*)$ 01-html/$1 [L,QSA]
